**/*.asv
*.asv
*.mat
data*
*.fch
tmp/*
*.fig
*.docx
*.zip
Job*
*.orig
*.ai
acs/*
*.diary
ethane2/*
ethane3/*
ethane4/*
ethane4mp2/*
h2/*
h2fld-ip/*
h2old/*
*.xlsx
interpconst/*
literature/*
scaleconst/*
scalehybrid/*
scalehybridparallel/*
tmpE2debug/*
*.jpg